*{
    color:white;
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background-color: white;
}
/* font */
p{
    text-align: justify;
}
/* CONTAINER */
.container{
    display:flex;
    flex-flow:column nowrap;
}

/* HEADER */

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding:10px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
.logo{
    background-color:red;
    padding:20px;
    border-radius:15px 0 15px 0;
}

/* NAVBAR */
nav ul{
    display:flex;
}
nav li{
    margin:0 5px;
    list-style-type:none;
    border:white solid 2px;
    padding: 5px;
    border-radius:5px 0 5px 0;
}
a{
    text-decoration: none;
    font-weight: bold;
}
/* ------------------------------------------ */

/* Profile */
.profile-container{
    background-color:black;
    width:60%;
    padding:20px;
    margin:90px auto 5px auto;
    display:flex;
    justify-content: space-around;
    border-radius: 20px 0 20px 0;
    flex-flow: row wrap;
}
.profile-img{
    border-radius: 50%;
    background-color:white;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border:solid red 3px;
}
figcaption{
    width:70%;
    margin: auto;
}

/* article */
article{
    width: 75%;
    padding: 20px;
    display:flex;
    flex-flow: row nowrap;
    margin: auto;
    justify-content:space-between;
}
.content{
    display:flex;
    flex-flow: row wrap;
    width:50%;
}
.isi-content{
    margin: 3px auto;
}
aside{
    width:45%;
}
.jdl-content{
    text-align: center;
}
.article{
    width: 75%;
    padding: 20px;
    margin: 15px auto;
    background-color: black;
    border-radius: 20px 0 20px 0;
    
}
/* Gallery */
.gallery-container{
    padding:30px;
    width: 75%;
    margin: 15px auto;
    background-color:black;
    border-radius: 20px 0 20px 0;
}
.gallery-title{
    text-align: center;
}
.gallery-items{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}
.img{
    border-radius: 20px 0 20px 0;
    margin-top: 13px;
    width:200px;
    height:200px;
    background-color:whitesmoke;
}
/* footer */
footer{
    background: black;
    display:flex;
    justify-content: center;
    padding: 20px;
}
/* Responsive breakpoint */
@media screen and (max-width:720px) {
    .profile-container{
        width:90%;
    }
    figcaption{
        width:86%;
    }
    .article{
        width:90%;
    }
    article{
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    .content{
        width:100%;
    }
    aside{
        width:100%;

    }
    .gallery-container{
        width:90%;
    }
    .gallery-items{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-around;
    }
    .img{
        width:100px;
        height:100px;
    }
}